.card__like-flag_active {
    background-image: url(../../../../images/flag-marked.svg);
}

.card__like-flag_active:hover {
    background-image: url(../../../../images/flag-marked.svg);
    cursor: pointer;
}
