.popup__registration-successfully-signin {
    margin-left: 36px;
    margin-bottom: 51px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2F71E5;
    border: none;
    background: none;
    padding: 0px;
    -webkit-transition: color 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
    -o-transition: color 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
    transition: color 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
}

.popup__registration-successfully-signin:hover {
    color: #347EFF;
    opacity: 0.8;
    cursor: pointer;
}
