.search-results__button {
    width: 288px;
    height: 64px;
    margin-bottom: 80px;
    border-radius: 80px;
    border: none;
    font-family: 'roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    color: #1A1B22;
    background-color: #FFFFFF;
    -webkit-transition: background-color 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
    -o-transition: background-color 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
    transition: background-color 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
}

.search-results__button:hover {
    background-color: #E8E8E8;
    opacity: 0.9;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .search-results__button {
        width: 240px;
        height: 56px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 570px) {
    .search-results__button {
        width: 288px;
        height: 56px;
        margin-bottom: 24px;
    }
}
