.card__picture {
    width: 100%;
    height: 272px;
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1050px) {
    .card__picture {
        height: 150px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 570px) {
    .card__picture {
        height: 196px;
    }
}