.about__title {
    font-family: 'roboto-slab';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.15;
}

@media screen and (max-width: 1050px) {
    .about__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 550px) {
    .about__title {
        margin: 0px 0px 16px;
    }
}