.search-form__description {
    font-family: 'roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #FFFFFF;
    margin-bottom: 88px;
}

@media screen and (max-width: 1050px) {
    .search-form__description {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 570px) {
    .search-form__description {
        margin-bottom: 122px;
    }
}
