.header__user-name-button {
    border: 1px solid #D1D2D6;
    border-radius: 100px;
    padding: 12px 19px;
    color: #ffffff;
    font-family: 'roboto', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
}

@media screen and (max-width: 1050px) {
    .header__user-name-button {
        font-size: 16px;
    }
}