.search-form__title {
    font-family: 'roboto-slab', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1.07;
    color: #FFFFFF;
    margin-bottom: 32px;
}

@media screen and (max-width: 1050px) {
    .search-form__title {
        font-size: 36px;
        margin-bottom: 16px;
    }
}
