.search-form__input {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #D1D2D6;
    border-radius: 100px;
    font-family: 'roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    z-index: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1A1B22;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 24px;
}

textarea:focus,
input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    font-family: 'roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    color: #B6BCBF;
}

::-moz-placeholder {
    font-family: 'roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    color: #B6BCBF;
}

:-ms-input-placeholder {
    font-family: 'roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    color: #B6BCBF;
}

::-ms-input-placeholder {
    font-family: 'roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    color: #B6BCBF;
}

::placeholder {
    font-family: 'roboto', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    color: #B6BCBF;
}
