.search-form {
    max-width: 608px;
}

@media screen and (max-width: 1050px) {
    .search-form {
        max-width: 452px;
    }
}

@media screen and (max-width: 550px) {
    .search-form {
        max-width: 285px;
    }
}