.SavedNewsTitleBlock__title {
    margin-top: 40px;
    margin-left: 104px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33px;
    color: rgba(26, 27, 34, 0.5);
}

@media screen and (max-width: 1050px) {
    .SavedNewsTitleBlock__title {
        margin-left: 40px;
    }
}

@media screen and (max-width: 570px) {
    .SavedNewsTitleBlock__title {
        margin-left: 16px;
    }
}