.Preloader {
    margin-top: 80px;
    margin-bottom: 24px;
    width: 74px;
    height: 74px;
    background: -o-linear-gradient(left, rgb(26, 27, 34, 100%), rgb(209, 210, 214, 0%)) border-box;
    background: -webkit-gradient(linear, left top, right top, from(rgb(26, 27, 34, 100%)), to(rgb(209, 210, 214, 0%))) border-box;
    background: linear-gradient(to right, rgb(26, 27, 34, 100%), rgb(209, 210, 214, 0%)) border-box;
    border-radius: 50%;
    -webkit-animation: spin .75s infinite linear;
    animation: spin .75s infinite linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}