.SavedNewsTitleBlock__keywords {
    margin: 0px 16px 56px 104px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #1A1B22;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
}

@media screen and (max-width: 1050px) {
    .SavedNewsTitleBlock__keywords {
        margin-left: 40px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 570px) {
    .SavedNewsTitleBlock__keywords {
        margin-left: 16px;
    }
}