.header__user-name-button_not-logged-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 176px;
    text-align: center;
    color: #ffffff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: opacity 0.2s linear 0.2s;
    -o-transition: opacity 0.2s linear 0.2s;
    transition: opacity 0.2s linear 0.2s;
}

.header__user-name-button_not-logged-in:hover {
    cursor: pointer;
    opacity: 0.7;
}