.PopupMenuForPhone__signin {
    background-color: #1A1B22;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 56px;
    margin: 22px 16px 24px;
    -webkit-box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    -webkit-transition: background-color 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
    -o-transition: background-color 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
    transition: background-color 0.2s linear 0.2s, opacity 0.2s linear 0.2s;
}

.PopupMenuForPhone__signin:hover {
    cursor: pointer;
}
