.SavedNewsTitleBlock__description {
    margin: 28px 0px 30px 104px;
    width: 530px;
    font-family: 'roboto-slab';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.15;
    color: #1A1B22;
}

@media screen and (max-width: 1050px) {
    .SavedNewsTitleBlock__description {
        margin-left: 40px;
        margin-bottom: 16px;
        width: 336px;
        font-size: 36px;
    }
}

@media screen and (max-width: 550px) {
    .SavedNewsTitleBlock__description {
        margin-left: 16px;
        margin-bottom: 50px;
        width: 288px;
    }
}