.SavedNewsTitleBlock__description {
    margin: 28px 0px 30px 104px;
    width: 530px;
    font-family: 'roboto-slab';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.15;
    color: #1A1B22;
}